body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
   margin: 0px;
   font-size: 20px;
}
.entete {
    background-color: white;
    padding: 20px;
}
.logos {
    display: flex;
    gap: 0px 20px;
    justify-content: space-between;
}
.newsletters {
    display: flex;
    justify-content: center;
}
.title-newsletters {
    color: #ca6e39;
    font-size: 5rem;
    font-weight: 950;
    text-align: center;
}
.subtitle-newsletters {
    color: grey;
    font-size: 1.5rem;
    font-weight: 950;
}
/* .logo_force_n {
    margin-left: 15%;
} */
.day {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    font-weight: 950;
}
.image1 {
    display: flex;
    justify-content: end;
    align-items: center;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 570px;
    width: 100%;
    background-image: url(/images/IMG/72dpi/image1.png);
    background-color: #d86928; 
    background-repeat: no-repeat;

}
.bandeau {
    
    font-size: 4rem;
    font-weight: 950;
    line-height: 100px;
    width: 50%;
    color: white;
}
.container {
    margin: 5%;
}
.title-emploie {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 950;
    margin: 50px;
}
.emploie {
    display: flex;
    gap: 100px;
}
.emploie .item {
    background-color: white;
    border: 1px solid rgb(168, 168, 224);
    font-size: 20px;
    line-height: 32px;
    padding: 20px 50px;
    box-shadow: inset 0 0 0 1px rgb(235, 229, 229);
}
.emploie .item .title {
    color: #ca6e39;
    font-weight: 950;
    font-size: 2.5rem;
    text-align: center;
    margin: 0% 10%;
    border-bottom: 1px solid rgb(135, 135, 252);
    /* padding: 20px;
    */
}

.emploie .item .text {
    margin: 50px 0px;
    text-align: justify;
}

.emploie .item .actions {
    display: flex;
    justify-content: end;
    gap: 20px;
}
.job-board {
    display: flex;
   
}
.board-image {
    background-color: #ca6e39;
    padding: 50px 0px 100px 0px;
}
.title-job-board {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-weight: 900;
}
.board-text {
    background-color: white;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 50px;
    font-size: 20px;
    line-height: 32px;
}
.image-soft-skill {
    display: flex;
    align-items: center;
    background-image: url(/images/IMG/72dpi/image3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 700px;
    /* width: 100%;
    height: 700px; */
}
a {
    color: black;
}
.image-soft-skill .bandeau {
    margin-left: 25px;
    width: 25%;
}
.soft-kill-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 950;
    margin: 100px;
    color: #ca6e39;
}

.text-solf-skill {
    margin: 50px;
    font-size: 20px;
    line-height: 32px;
}
.text-solf-skill h4 {
    color: rgb(17, 17, 179);
    font-weight: 950;
    
}
.text-solf-skill h3 {
    color: #ca6e39;
    font-weight: 950;
}
/* .text-solf-skill p {
    text-align: justify;
    line-height: 1.5rem;
} */
.entretiens {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.entretiens .text {
    background-color: white;
    /* width: 100%; */
    padding: 30px;
    font-size: 20px;
    line-height: 32px;
}
.embauche {
    background-color: white;
    padding: 30px;
    font-size: 20px;
    line-height: 32px;
}
.embauche h2 {
    text-align: center;
    font-weight: bolder;
}
.embauche .items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 50px;
}
.embauche .item {
    background-color: white;
    padding: 50px;
    border: 1px solid rgb(170, 170, 180);
    box-shadow:inset 0 0 0 1px rgb(235, 229, 229);
}
.essentiel {
    background-color: #175a93;
    color: white;
    padding: 50px;
}
.essentiel .contenu {
    font-size: 20px;
    line-height: 32px;
}
.essentiel h2 {
    text-align: center;
    font-weight: bolder;

}
.essentiel .slogan {
    text-align: center;
    margin: 50px;
    font-weight: 950;
}
.essentiel .btn {
    display: flex;
    justify-content: center;
}
.btn-candidature {
    width: 200px;
    font-size: 20px;
    padding: 25px;
    background-color: #ca6e39;
    color: white;
    text-decoration: none;
    border: none;
}

.dictionnaire {
    background-color: #bbd4ea;
    padding: 50px;
}
.dictionnaire .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 950;
}
.actualite {
    padding: 50px;
    margin-bottom: 50px;
}
.actualite .items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 100px;
}
.actualite .item h3 {
    font-size: 30px;
    color: #ca6e39;
    line-height: 40px;
}
.footer {
    font-size: 18px;
    padding: 50px;
    background-color: white;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.adresse {
   
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.adresse .contenu {
    text-align: center;
    line-height: 32px;
}
.contenu span {
    color: #ca6e39;
    font-weight: 950;
}
.main {
    background-color: white;
    padding: 30px;
}
.main h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 950;
    color: #175a93;
}
.theme {
    font-size: 30px;
    margin-bottom: 50px;
}
.theme span {
    color: #d86928;
    font-weight: 950;
}
.rendez-vous {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: bold;
}
.date {
    padding: 50px;
    border-right: 3px solid #d86928;
}
.lieu {
     padding: 50px;
}
.main .logo_force_n {
    width: 326px;
    height: 90px;
    padding-right: 15px;
    border-right: 2px solid #939da7;
}
.slogan {
    font-size: 20px;
    font-weight: bold;
}
.text p span.slogan {
    color: black;
}
.text .slogan {
    color: #d86928;
    margin-bottom: 50px;
}
.programme {
    margin-bottom: 50px;
}
.horaire {
    display: flex;
    gap: 50px;
    line-height: 32px;
    margin: 10px 0px;
}
.heure {
    font-weight: bold;
}
/* .agenda {
    
} */
.bande {
    display: flex;
    gap: 100px;
    padding: 20px;
    background-color: #d86928;
    color: white;
}
.programme1 {
    display: flex;
    justify-content: space-between;
}
.programme1 .title {
    margin-bottom: 10px;
    color: #d86928;
}
.slogan_force_n {
    margin: 50px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 950;
}
ul{
   margin-block-start: 0px;
}

p {
    font-size: 20px;
    line-height: 32px;
    color: rgb(49, 48, 48);
}

@media screen and (max-width: 768px) {
    .image1 {
        height: 250px;
    }
    .title-newsletters {
       font-size: 1.3rem;
       text-align: center;
    }
    .subtitle-newsletters {
        font-size: 18px;
    }
    .logos img {
        width: 70%;
        height: 70%;
    }
    .bandeau {
        font-size: 1.5rem;
        line-height: 30px;
        width: 90%;
    }
    .image-soft-skill .bandeau {
        width: 50%;
    }
    .job-board {
        display: grid;
        grid-template-columns: 1fr;
    }
    .board-image {
        padding: 25px 0px 50px 0px;
    }
    .board-image img {
        width: 100%;
        height: 350px;
    }
    .board-text {
        padding: 25px;
        width: auto;
    }
    .title-job-board {
        font-size: 1.3rem;
        margin-bottom: 25px;
    }
    .soft-kill-title {
        font-size: 1.5rem;
        margin: 25px;
    }
    .dictionnaire .title {
        font-size: 1.3rem;
    }
    .image-soft-skill {
        height: 200px;
     }
    .text-solf-skill {
        padding: 25px;
        margin: 0px;
    }
    
    .text-solf-skill p {
        text-align: justify;
    }
    .text-solf-skill h3 {
        font-size: 14px;
    }
    .emploie .item .title { 
        font-size: 1.3rem;
    }
    .actualite .items {
        grid-template-columns: 1fr;
    }
    .essentiel {
        padding: 30px 20px;
    }
    .essentiel .contenu {
        font-size: medium;
        text-align: justify;
    }
    .essentiel .slogan {
        font-size: 14px;
        text-align: start;
    }
    .essentiel .btn {
        display: flex;
        justify-content: center;
    }
    .essentiel .btn .btn-candidature {
        font-size: 15px;
        width: 150px;
    }
    .actualite .item a {
        display: flex;
        justify-content: center;
    }
    .actualite .item img {
        width: 100%;
        height: 100%;
    }
    .entretiens .text {
        font-size: 15px;
    }
    .entretiens {
        display: grid;
        grid-template-rows: 1fr;
    }
    .entretiens img {
        width: 100%;
        height: 400px;
    }
    .entretiens .text p {
        text-align: justify;
        line-height: 1.5rem;
    }
    .embauche .items {
        grid-template-columns: 1fr;
        font-size: medium;
    }
    .embauche h2 {
        font-size: 18px;
    }
    
    .subtitle-newsletters {
        font-size: 1rem;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .day {
        display: flex;
        justify-content: end;
        font-size: 10px;
        padding: 10px;
        font-weight: 600;
    }
    .title-emploie {
        font-size: 1.3rem;
    }
    .emploie {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 50px 80px;
    }
    .item {
        padding: 20px;
    }
    .text {
        font-size: 15px;
    }
    .contenu {
        font-size: 15px;
    }
    .slogan {
        font-size: 20px;
    }
    .btn-candidature {
        font-size: 15px;
    }
    .dictionnaire {
        padding: 20px;
    }

    .actualite {
        padding: 20px;
    }
    .actualite .items {
        gap: 8px 50px;
    }
    .footer {
        padding: 20px;
    }
    .icons {
        gap: 20px;
    }
    .adresse {
        font-size: 15px;
    }
    .contenu span {
        font-size: 15px;
    }
    .container {
        margin: 15px;
    }
    .main {
        padding: 15px;
    }
    .main h1 {
        font-size: large;
        line-height: 25px;
    }
    .theme {
        font-size: large;
        line-height: 25px;
        
    }
    .rendez-vous {
        font-size: 18px;
        padding: 10px;
        font-size: 18px;
    }
    .date {
        padding: 10px;
    }
    .agenda {
        font-size: 12px;
        overflow-x: scroll;
    }
    .bande {
        gap: 15px;
    }
    .programme1 {
        gap: 15px;
    }
    .lieu {
        padding: 15px;
    }
    .horaire {
        border-bottom: 1px solid #939da7;
    }
    .main .logo_force_n {
        width: 50%;
        height: 50%;
    }
    ul {    
        padding-inline-start: 10px;
    }
    p {
        font-size: 15px;
    }
    h3 {
        font-size: 16px;
    }
}