body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 229, 229);
   margin: 0px;
}
.entete {
    background-color: white;
    padding: 20px;
}
.logos {
    display: flex;
    justify-content: space-between;
}
.title-newsletters {
    color: rgb(214, 76, 26);
    font-size: 5rem;
    font-weight: 950;
}
.subtitle-newsletters {
    color: grey;
    font-size: 1.5rem;
    font-weight: 950;
}
.day {
    float: right;
    font-size: 1.5rem;
    font-weight: 950;
   padding: 20px;
}